body{
  background: rgba(235,233,249,1);
background: -moz-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 24%, rgba(206,199,236,1) 61%, rgba(193,191,234,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,233,249,1)), color-stop(24%, rgba(216,208,239,1)), color-stop(61%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
background: -webkit-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 24%, rgba(206,199,236,1) 61%, rgba(193,191,234,1) 100%);
background: -o-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 24%, rgba(206,199,236,1) 61%, rgba(193,191,234,1) 100%);
background: -ms-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 24%, rgba(206,199,236,1) 61%, rgba(193,191,234,1) 100%);
background: linear-gradient(to right, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 24%, rgba(206,199,236,1) 61%, rgba(193,191,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
}
.detail-box{
background: #49a5bf;
padding: 10px;
box-shadow: 4px 8px 37px rgba(72, 93, 88, 0.5);
margin-bottom: 20px;

}
.detail-box:hover{
background: #4CA1AF;
    box-shadow: 4px 8px 37px rgba(192,192,192,1);
}
.txt-mid {
  text-align: center;
}
